<footer class="footer bg-bar">
    <div class="container f-avatar fw-bold">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white fs-5 fw-light">MINHAS REDES SOCIAIS</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/anaflaviacamelo/" target="_blank">
                            <i class="fab fa-linkedin text-white fs-2"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/afc-me" target="_blank">
                            <i class="fab fa-github-square text-white fs-2"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-bender p-0 text-center py-3 text-white fs-small">Todos os direitos reservados &copy; AFC</div>

</footer>