@font-face {
    font-family: 'Avatar' ;
    src: url(./assets/font/Herculanum.woff);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html{
    scroll-behavior: smooth;
}

.f-avatar{
    font-family:'Avatar', Times, serif;
}

.f-padrao{
    font-family: 'Quicksand', sans-serif;
}

.bg-bender{
    background-color: #b3a289c9;
}

.rounded-p{
    border-radius: 10px;
}