<div class="container-fluid">
    <div class="row bg-avatar d-flex align-items-center">
        <div class="col-md-6">
            <div class="row d-flex justify-content-center text-light">
                <div class="col-md-6">
                    <h1 class="f-avatar fs-54">SEJA BEM-VINDO(A)</h1>
                    <h5 class="f-padrao fw-bold">escreva aqui seus reviews e opiniões sobre filmes e séries</h5>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-light me-2" data-bs-toggle="modal" data-bs-target="#newposts" > Nova Postagem</button>
                    <a class="btn btn-outline-light" href="#postagens">Ver Postagens</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex justify-content-center">
            <img class="img-fluid m-4" src="./../../assets/img/one.jpg" width="600px" height="400px">
        </div>
    </div>
</div>

<div class="container-fluid mb-3">
    <div class="row p-3">
        <div class="col-md-3 bg-light rounded-p me-5 ms-3 f-padrao fw-bold" style="max-height: 250px;" >
            <div class=" d-flex justify-content-center m-3">
                <img src="{{foto}}" alt="" class="img-fluid rounded-circle img-thumbnail" style="width: 130px; height: 130px;">
            </div>
            <h4 class="text-center fw-bold">{{nome}}</h4>
            <p class="text-center lead fs-user">@{{usuario}}</p>
        </div>

        <div class="col-md-8 rounded-p bg-light f-padrao fw-bold" id="postagens">
            <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button (click)="findByIdUser()" class="nav-link text-dark" id="home-tab" data-bs-toggle="tab" data-bs-target="#todasPostagens" type="button"
                        role="tab" aria-controls="todasPostagens" aria-selected="true">Meus Posts</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-dark active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                        role="tab" aria-controls="profile" aria-selected="false">Feed</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-dark" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                        role="tab" aria-controls="contact" aria-selected="false">Por Tema</button>
                </li>
            </ul>
        
            <div class="tab-content" id="myTabContent">
                
                <div class="tab-pane fade" id="todasPostagens" role="tabpanel" aria-labelledby="todasPostagens-tab">
                    
                    <div class="card mb-3" *ngFor="let item of user.postagem">
                        <div class="card-header">
                          <img src="{{foto}}" alt="" class="img-fluid rounded-circle" style="width: 30px; height: 30px;"> @{{usuario}}<small class="text-muted ms-2">{{item.date | date: 'HH:mm'}} · {{item.date | date: 'dd/MM/yyyy'}}</small> 
                        </div>
                        <div class="card-body">
                            <h5 class="card-title fw-bold mb-0">{{item.titulo}} </h5>
                            <small class="text-muted">{{item.tema.descricao}}</small>
                            <p class="card-text mt-2">{{item.texto}}</p>

                            <a [routerLink]="[ '/postagem-edit', item.id ]" class="text-info me-3" href="">Editar</a>
                            <a [routerLink]="[ '/postagem-delete', item.id ]" class="text-danger" href="">Apagar</a>

                        </div>
                    </div>
                </div>

                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    
                    <div class="card mb-3" *ngFor="let item of listaPosts">
                        <div class="card-header">
                          <img src="{{item.usuario.foto}}" alt="" class="img-fluid rounded-circle" style="width: 30px; height: 30px;"> @{{item.usuario.usuario}}<small class="text-muted ms-2">{{item.date | date: 'HH:mm'}} · {{item.date | date: 'dd/MM/yyyy'}}</small> 
                        </div>
                        <div class="card-body">
                            <h5 class="card-title fw-bold mb-0">{{item.titulo}} </h5>
                            <small class="text-muted">{{item.tema.descricao}}</small>
                            <p class="card-text mt-2">{{item.texto}}</p>
                        </div>
                      </div>
                    
                </div>

                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                   
                    <div *ngFor="let tema of listaTemas">
                        <div class="card mb-3" *ngFor="let item of tema.postagem">
                            <div class="card-header">
                              <img src="{{item.usuario.foto}}" alt="" class="img-fluid rounded-circle" style="width: 30px; height: 30px;"> @{{item.usuario.usuario}}<small class="text-muted ms-2">{{item.date | date: 'HH:mm'}} · {{item.date | date: 'dd/MM/yyyy'}}</small> 
                            </div>
                            <div class="card-body">
                                <h5 class="card-title fw-bold mb-0">{{item.titulo}} </h5>
                                <p class="card-text mt-2">{{item.texto}}</p>
                            </div>
                          </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div id="newposts" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nova Postagem</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            <div class="modal-body">
                
                <div class="form-control">
                    <label for="titulo">Título</label>
                    <input [(ngModel)]="postagem.titulo" type="text" class="form-control" id="titulo" placeholder="Digite o título">
                    
                    <label for="texto">Texto</label>
                    <textarea [(ngModel)]="postagem.texto" class="form-control" name="texto" id="texto" rows="3"></textarea>
               
                    <label for="tema">Escolha um tema ou <a data-bs-dismiss="modal" routerLink='/tema'>cadastre um novo</a>:</label>
                    <select class="form-control" name="tema" id="tema" [(ngModel)]="idTema" (change)="findByIdTema()">
                        <option *ngFor="let item of listaTemas" value="{{item.id}}">{{item.descricao}}</option>
                    </select>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="publicar()">Publicar</button>
              </div>
        </div>
    </div>
</div>